/*
 * Author: Jiangyuan Li
 * Version: 10.2
 * Date: 2025-02-23
 */

/* All styles */

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-regular.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-italic.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-700.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-700italic.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-800.woff2);
}

@font-face {
    font-family: 'Figtree';
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/figtree-v6-latin/figtree-v6-latin-800italic.woff2);
}

#content-unit svg {
    width: 1em;
    height: 1em;
}

@media (prefers-color-scheme: dark) {
    #content-unit svg {
        fill: white;
    }

    .pages-container {
        border-color: #333 !important;
    }
}

#content-unit {
    margin-left: 10px;
    margin-right: 10px;
}

#content-unit,
.text-n {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

#heading {
    font-size: 40px;
}

.pages-container {
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    border: solid 1px #eee;
}

/*
 * Author: Jerry Li
 */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

@font-face {
    font-family: 'Modern DOS 8x16';
    font-weight: normal;
    font-style: normal;
    src: url(https://media.jerryly.cn/ModernDOS8x16.ttf);
}

/* general styles */

body {
    margin: 0;
}

#directory {
    width: 199px;
    height: calc(100% - 16px);
    padding: 8px;
    transition: all 0.3s cubic-bezier(0, 0.8, 0, 1);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border-right: solid 1px #eee;
    background-color: #f8f8f8;
}

#directory.active {
    width: 144px;
    height: 40px;
    background-color: transparent;
    border-right: none;
}

#directory.active #sitemap {
    height: 0;
}

#nav-tools {
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border-top-left-radius: 40px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 40px;
    gap: 6px;
}

#directory-logo {
    width: fit-content;
    padding: 8px;
    border-radius: 60px;
}

#logo {
    height: 24px;
    overflow: hidden;
    aspect-ratio: 150/67;
    background-image: url(https://media.jerryly.cn/home-button-light.svg);
    background-repeat: no-repeat;
}

#sitemap {
    height: calc(100% - 34px);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#sitemap::webkit-scrollbar {
    width: 0;
}

#sitemap.expanded {
    opacity: 0;
}

#directory-back-button .material-symbols-outlined {
    font-size: 28px;
}

#directory-back-button,
#directory-expand {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

#directory-expand {
    margin-right: 6px;
}

#directory-expand .material-symbols-outlined {
    transition: transform 0.2s ease-in-out;
    transform: rotate(45deg);
}

#directory-expand.rotated .material-symbols-outlined {
    transform: rotate(0deg);
}

#directory-back-button .material-symbols-outlined,
#directory-expand .material-symbols-outlined {
    font-weight: 300;
}

.directory-map {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 0;
    font-size: 14px;
}

.directory-map li .material-symbols-outlined {
    font-weight: 300;
    font-size: 20px;
}

.directory-map-secondary {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: solid 1px #eee;
    margin-left: 16px;
    padding-left: 8px;
    font-size: 14px;
}

.directory-map-secondary.special {
    border-left-color: transparent;
}

.directory-map-secondary span {
    opacity: 0.5;
    margin-left: 6px;
    font-size: 12px;
}

.directory-map-secondary a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: unset;
}

#directory ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

#directory ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    width: fit-content;
    padding: 6px;
}

#directory-back-button:hover,
#directory-expand:hover,
#directory ul li:hover,
.directory-map.secondary li:hover,
#directory-logo:hover {
    background-color: #eee;
}

#directory button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.directory-slash {
    width: 20px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    #directory {
        border-right: solid 1px #333;
        background-color: #2c2c2c;
    }

    #nav-tools {
        background-color: #2c2c2c;
    }

    #logo {
        background-image: url(https://media.jerryly.cn/home-button-dark.svg);
    }

    #directory-back-button:hover,
    #directory-expand:hover,
    #directory ul li:hover,
    .directory-map.secondary li:hover,
    #directory-logo:hover {
        background-color: #5a5a5a;
    }

    .directory-map-secondary {
        border-left-color: #5a5a5a;
    }
}

.text-n {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

#copyright-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

#copyright-info a {
    text-decoration: none;
    color: unset;
}

#footer-links {
    margin-top: 0;
}

/* general styles */

#content-unit {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-top: 50px;
}

#content-unit.move {
    width: calc(100% - 252px);
    margin-left: 236px;
}

.empty-box {
    height: 100vh;
}

#en-warn {
    font-size: 14px;
    border: solid 1px #eee;
    border-radius: 6px;
    width: fit-content;
    padding: 6px;
}

#en-warn-text {
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (prefers-color-scheme: dark) {
    #en-warn {
        border-color: #333;
    }
}

/* about.html */

#alu-stu-namecard>#text-n {
    display: grid;
    grid-template-columns: 1em 0.3fr 1fr;
}

@media (max-width: 430px) {
    #alu-stu-namecard>#text-n {
        display: grid;
        grid-template-columns: 1em 2.4fr 2.5fr;
    }
}

/* apple.html */

@media (prefers-color-scheme: dark) {
    td {
        border-top-color: white !important;
    }

    .apple-image-box {
        border-color: #575757;
    }
}

@media (max-width: 430px) {
    .apple-box {
        flex-direction: column;
    }

    .apple-image-box {
        width: 55% !important;
    }
}

.subtitle,
#content-unit .small-title {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.apple-box {
    display: flex;
}

.apple-image-box {
    width: 30%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px #ddd;
    border-radius: 10px;
    margin-left: 30px;
    background-color: white;
}

#apple-image-box-1 {
    background-image: url(../static/img/Apple-iPhone-16-Pro-hero-240909.jpg);
}

#apple-image-box-2 {
    background-image: url(../static/img/Apple-iPhone-16-hero-240909.jpg);
}

.apple-text-box {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}

.apple-text-box .subtitle {
    font-size: 20px !important;
    text-align: left;
}

#apple-event,
#mac-section,
#iphone-section,
#ipad-section,
#wwdc-section {
    display: none;
}

#apple-event.active,
#mac-section.active,
#iphone-section.active,
#ipad-section.active,
#wwdc-section.active {
    display: block;
}

.subtitle {
    text-align: left;
}

table {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}

td {
    border-top: solid 1px black;
    padding: 5px;
}

.subtitle-pages {
    font-size: 20px;
}

#update {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* apple.html */

@media (max-width: 425px) {

    #dubdub-info-1.active,
    #dubdub-info-2.active {
        position: relative;
        top: -10px;
    }

    .dubdub-entries {
        display: flex;
        flex-direction: column;
    }

    .dubdub-pictures {
        width: 100% !important;
    }

    .dubdub-entries>div>.dubdub-info-special {
        margin-left: 0px !important;
    }

    .dubdub-entries>div>#text-n {
        margin-left: 0px !important;
    }
}

@media (prefers-color-scheme: light) {
    #dubdub-subbox {
        background-color: #fff !important;
    }

    #dubdub-subbox:hover {
        background-color: transparent !important;
    }
}

#dubdub-dark {
    width: 100%;
    position: static;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: #000;
}

#dubdub-info-1,
#dubdub-info-2 {
    display: none;
}

#dubdub-info-1.active,
#dubdub-info-2.active {
    display: block;
    margin-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    margin-left: 45px;
    margin-right: 45px;
}

.dubdub-info-special {
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.dubdub-info-special {
    margin-top: 0;
}

.dubdub-entries {
    display: flex;
}

.dubdub-entries>.dubdub-entry-text {
    width: 95vw;
}

.dubdub-entries>div>.dubdub-info-special {
    margin-left: 30px;
}

#dubdub-quote {
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.dubdub-pictures {
    aspect-ratio: 16/9;
    width: 25vw;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

#dubdub-pic-1 {
    background-image: url(../../static/img/IMG_9031.webp);
}

#dubdub-pic-2 {
    background-image: url(../../static/img/videoframe_1067609.webp);
}

#dubdub-pic-3 {
    background-image: url(../../static/img/videoframe_1096552.webp);
}

#dubdub-pic-4 {
    background-image: url(../../static/img/videoframe_1175453.webp);
}

#dubdub-pic-5 {
    background-image: url(../../static/img/videoframe_1303593.webp);
}

#dubdub-pic-6 {
    background-image: url(../../static/img/videoframe_1349629.webp);
}

#dubdub-pic-7 {
    background-image: url(../../static/img/videoframe_1380607.webp);
}

#dubdub-pic-8 {
    background-image: url(../../static/img/videoframe_1474751.webp);
}

#dubdub-pic-9 {
    background-image: url(../../static/img/videoframe_1522525.webp);
}

#dubdub-pic-10 {
    background-image: url(../../static/img/videoframe_1535790.webp);
}

#dubdub-pic-11 {
    background-image: url(../../static/img/videoframe_1564377.webp);
}

#dubdub-pic-12 {
    background-image: url(../../static/img/videoframe_1798679.webp);
}

#dubdub-special-style-1 {
    margin: 0;
    text-align: right;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dubdub-box {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s;
}

#dubdub-visionos {
    background: linear-gradient(110deg, #FF6148, #E15C96 33%, #4153E0 66%, #7D7FEB);
}

#dubdub-ios {
    background: linear-gradient(110deg, #CF807F, #EA6F7D 33%, #0D8EB4 66%, #0D4E4E);
}

#dubdub-ipados {
    background: linear-gradient(110deg, #339AAF, #2E76DB 33%, #1B175F 66%, #6F57B4);
}

#dubdub-watchos {
    background: linear-gradient(110deg, #1AB7A1, #3D2DA9 51%, #A53A9F);
}

#dubdub-tvos {
    background: linear-gradient(110deg, rgb(166, 59, 29), rgb(233, 154, 57));
}

#dubdub-macos {
    background: linear-gradient(110deg, #021B8B, #1E84D9 33%, #BD83A2 66%, #EF6F33);
}

#dubdub-ai {
    background-image: linear-gradient(110deg, rgb(91, 176, 249), rgb(77, 152, 247), rgb(185, 116, 244), rgb(229, 102, 115), rgb(241, 163, 60));
}

#dubdub-subbox {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 9px;
    width: 100%;
    line-height: 98px;
    height: 98px;
    background-color: #000000;
    padding-left: 30px;
    transition: all 0.2s;
}

#dubdub-subbox:hover {
    background-color: transparent;
}

#dubdub-subbox>.dubdub-sub-box {
    margin: 0;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.2s;
}

#dubdub-sub-box-visionos {
    background: linear-gradient(110deg, #FF6148, #E15C96 33%, #4153E0 66%, #7D7FEB);
}

#dubdub-sub-box-ios {
    background: linear-gradient(110deg, #CF807F, #EA6F7D 33%, #0D8EB4 66%, #0D4E4E);
}

#dubdub-sub-box-ipados {
    background: linear-gradient(110deg, #339AAF, #2E76DB 33%, #1B175F 66%, #6F57B4);
}

#dubdub-sub-box-watchos {
    background: linear-gradient(110deg, #1AB7A1, #3D2DA9 51%, #A53A9F);
}

#dubdub-sub-box-tvos {
    background: linear-gradient(110deg, rgb(166, 59, 29), rgb(233, 154, 57));
}

#dubdub-sub-box-macos {
    background: linear-gradient(110deg, #021B8B, #1E84D9 33%, #BD83A2 66%, #EF6F33);
}

#dubdub-sub-box-ai {
    background: linear-gradient(110deg, rgb(91, 176, 249), rgb(77, 152, 247), rgb(185, 116, 244), rgb(229, 102, 115), rgb(241, 163, 60));
}

#dubdub-subbox:hover .dubdub-sub-box {
    color: white;
}

/* classical_ch.html and 1 other */

.in-box-subtitle {
    font-size: 25px !important;
}

/* music.html */

@media (max-width: 768px) {
    #music-lyrics {
        grid-template-columns: 1fr !important;
    }
}

@media (prefers-color-scheme: dark) {
    table#text-n {
        border-top-color: white !important;
        border-bottom-color: white !important;
    }

    table#text-n th,
    td {
        border-bottom-color: white !important;
    }

    #music-image-1 {
        border-color: #333;
    }
}

#music-light {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(160deg, rgb(178, 192, 192), rgb(72, 108, 125), rgb(28, 29, 32) 70%);
    z-index: -1;
}

table#text-n {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    width: 100%;
    overflow: scroll;
}

table#text-n th,
td {
    padding: 5px;
    padding-right: 30px;
}

#music-song-col {
    font-style: italic;
}

#music-lyric-dis {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#music-lyric-dis-2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BADA55;
}

#music-lyric-dis-2>#music-lyrics {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17px;
    display: block;
    filter: blur(0.8px);
}

#music-lyrics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.music-lyric {
    fill: white;
    margin-left: 30px;
    margin-right: 30px;
}

#music-lyric-1 {
    fill: rgb(178, 192, 192);
}

#music-clicker {
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
}

#music-image-c {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#music-image-1 {
    width: 300px;
    background-image: url(../static/img/IMG_8106.jpg);
    background-size: contain;
    aspect-ratio: 1179/1852;
    border-radius: 10px;
    border: solid 1px #eee;
}

/* search.html */

#content-unit #search {
    height: 40px;
    width: calc(100% - 70px);
    margin-left: 30px;
    padding-left: 10px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border: solid 1px #eee;
    background-color: #ededed30;
}

#results {
    list-style: none;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

/* taylorswift.html */

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../../static/fonts/BigCaslonFB-Regular.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../../static/fonts/BigCaslonFB-Bold.woff2) format('woff2');
    font-weight: 1000;
}

@media (prefers-color-scheme: dark) {
    #pages-container-1 {
        background-color: transparent !important;
    }

    #pages-backdrop,
    #en-warn {
        background-color: rgb(69, 69, 69) !important;
    }
}

.scroll-indicator {
    background-color: #eceae6;
}

#pages-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eceae6;
    z-index: -1;
}

.breaking {
    color: #cc0700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pages-container.taylorswift {
    padding-left: 10px;
}

#album-shelf {
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
}

#album-shelf a {
    width: 100%;
}

.album {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    margin-bottom: 6px;
    position: relative;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    transition: all 0.25s;
    overflow: hidden;
}

.album:hover {
    transform: scale(102.5%);
}

.album:active {
    transform: scale(97.5%);
}

#album-16 {
    background-color: rgb(102, 152, 189);
}

#album-15 {
    background-color: rgb(172, 26, 72);
}

#album-14 {
    background-color: rgb(151, 47, 112);
}

#album-13 {
    background-color: rgb(210, 179, 145);
}

#album-12 {
    background-color: rgb(215, 82, 41);
}

#album-11 {
    background-color: rgb(241, 235, 233);
}

#album-title-11 {
    color: rgb(92, 85, 80);
}

#album-10 {
    background-color: rgb(137, 168, 186);
}

#album-9 {
    background-color: rgb(119, 79, 52);
}

#album-8 {
    background-color: rgb(169, 169, 169);
}

#album-7 {
    background-color: rgb(253, 173, 194);
}

#album-6 {
    background-color: rgb(69, 69, 69);
}

#album-5 {
    background-color: rgb(28, 141, 255);
}

#album-4 {
    background-color: rgb(160, 30, 21);
}

#album-3 {
    background-color: rgb(115, 47, 112);
}

#album-2 {
    background-color: rgb(185, 155, 109);
}

#album-1 {
    background-color: rgb(115, 198, 166);
}

.album-title {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 5px;
    margin-right: 10px;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

#album-title-11 {
    font-family: 'Big Caslon FB', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2.5px;
}

#album-title-10 {
    font-family: 'Neue Haas Grotesk Text Pro 55 Roman', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#album-title-9,
#album-title-8 {
    font-family: 'IM Fell DW Pica', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

#pages-container-1,
.pages-container-1 {
    background-color: white;
}

/* contact.html */

#pages-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

#pages-container-2 #text-n {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#pages-container-2 #text-n a {
    color: unset;
}

#contact-glyphs {
    height: 1em;
}

/* about.html */

@media (max-width: 768px) {
    .pages-container>#text-n {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }

    #text-n>b {
        display: block;
        margin-bottom: 5px;
    }

    #pages-container-2 {
        word-break: break-all;
        grid-template-columns: 1fr 1fr !important;
    }
}

@media (prefers-color-scheme: dark) {
    #my-favorite-things {
        border-top: solid 1px rgb(255, 255, 255) !important;
        border-bottom: solid 1px rgb(255, 255, 255) !important;
    }

    #pages-container-3 th,
    #pages-container-3 td {
        border-bottom: solid 1px rgb(255, 255, 255) !important;
    }
}

#pages-container-3 {
    padding: 10px;
    margin-bottom: 15px;
}

#pages-container-3>p#text-n {
    margin-left: 30px;
}

#alu-stu-namecard {
    padding-bottom: 15px;
}

#alu-stu-name {
    font-size: 20px;
    font-weight: bold;
}

.fa-terminal,
.fa-language {
    font-size: smaller;
}

#my-favorite-things {
    margin: 0 auto;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-size: 15px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

th,
td {
    border-top: solid 1px black;
    padding: 5px;
}

.halt-label {
    font-weight: bold;
}

/* 1989tv.html */

._1989-content::after {
    content: "";
    position: absolute;
    inset: -20px;
    background: linear-gradient(30deg, rgba(0, 0, 0, 0)20%, rgba(28, 141, 255, 0.537));
    filter: blur(2.5em);
    z-index: -1;
    width: calc(100vw + 5px);
}

/* brat.html */

.brat-text {
    font-family: Arial, 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    filter: blur(0.5px);
}

/* folklore.html */

#folklore-lights {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(169, 169, 169, 0.75), white 30%);
}

@media (prefers-color-scheme: dark) {
    #folklore-lights {
        background-image: linear-gradient(rgba(169, 169, 169, 0.75), rgb(0, 0, 0) 30%) !important;
    }
}

.folklore-text,
.fl-heading {
    font-family: 'IM Fell DW Pica', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

/* lover.html */

.lover-content::after {
    content: "";
    position: absolute;
    inset: -20px;
    background: linear-gradient(30deg, rgba(0, 0, 0, 0)20%, rgba(242, 173, 196, 0.7), rgb(138, 57, 90, 0.7));
    filter: blur(2.5em);
    z-index: -1;
    width: calc(100vw + 5px);
}

/* midnights.html */

.mdn-content::after {
    content: "";
    position: absolute;
    inset: -20px;
    background: linear-gradient(30deg, rgba(0, 0, 0, 0)20%, rgb(137, 168, 186), rgb(94, 108, 141));
    filter: blur(2.5em);
    z-index: -1;
    width: calc(100vw + 5px);
}

.mdn-text {
    font-family: 'Neue Haas Grotesk Text Pro 55 Roman', sans-serif !important;
}

/* ttpd-lyrics.html */

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../fonts/BigCaslonFB-Regular.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../fonts/BigCaslonFB-Bold.woff2) format('woff2');
    font-weight: 1000;
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../fonts/BigCaslonFB-Italic.woff2) format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../fonts/BigCaslonFB-BoldItalic.woff2) format('woff2');
    font-weight: 1000;
    font-style: italic;
}

@media (prefers-color-scheme: dark) {

    #subpages-backdrop {
        background-color: rgb(41, 36, 33) !important;
    }

    #pages-ttpd-print {
        background-color: #000 !important;
    }
}

@media (prefers-color-scheme: light) {
    #text-n {
        color: rgb(41, 36, 33) !important;
    }

    .pages-separator {
        background-color: rgb(41, 36, 33) !important;
    }
}

@media print {
    #tool {
        display: none !important;
    }

    .pages-ttpd-break,
    #update,
    #pages-ttpd-print {
        display: none;
    }
}

#lyrics-return-button {
    display: inline-block;
    text-decoration: none;
}

#lyrics-return {
    width: fit-content;
    background-color: #fff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    background-color: white;
    border: #eadcc1 solid 1px;
    transition: all 0.2s;
}

#lyrics-return a {
    text-decoration: none;
}

#quick-links {
    overflow-y: scroll;
    padding-bottom: 120px;
}

#subpages-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eceae6;
    z-index: -1;
}

.ttpd-content #text-n,
.ttpd-content .subtitle {
    font-family: 'Big Caslon FB', 'Source Han Sans', sans-serif;
}

.pages-separator {
    height: 1px;
    background-color: #eceae6;
    margin-bottom: 40px;
}

#pages-ttpd-print {
    font-family: 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-image: white;
    border: #eadcc1 solid 1px;
    box-shadow: none;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    transition: all 0.2s;
}

#pages-ttpd-print:hover,
#lyrics-return:hover {
    background-color: #eadcc1;
}

#pages-ttpd-print:active,
#lyrics-return:active {
    scale: 95%;
}

@media (prefers-color-scheme: dark) {
    #lyrics-return {
        background-color: rgb(41, 36, 33);
    }
}

/* ttpd.html */

.ttpd-content .pages-container {
    background-color: #fff;
    margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
    .ttpd-content .pages-container {
        background-color: rgb(41, 36, 33);
    }
}

.ttpd-content .pages-container>#text-n {
    margin-left: 15px;
    margin-right: 15px;
}

.ttpd-content .image {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    border-radius: 10px;
    background-size: cover;
    margin-bottom: 30px;
}

#ttpd-review {
    box-shadow: 0 1px 1px rgba(236, 234, 230, 0.41),
        0 2px 2px rgba(236, 234, 230, 0.31),
        0 4px 4px rgba(236, 234, 230, 0.21),
        0 8px 8px rgba(236, 234, 230, 0.11);
    transition: all 0.2s;
}

#ttpd-review>p>a {
    color: unset;
}

#ttpd-review:active {
    box-shadow: none;
    scale: 98%;
}

#ttpd-review-title {
    font-family: 'Big Caslon FB';
    font-weight: bold;
    font-size: 25px;
}

/* wicked.html */

.wicked-content::after {
    content: "";
    position: absolute;
    inset: -20px;
    background-image: radial-gradient(circle at bottom left, rgb(133, 228, 158), rgb(162, 255, 187), rgb(247, 166, 217), rgb(200, 59, 148));
    filter: blur(2.5em);
    z-index: -1;
    width: calc(100vw + 5px);
}

/* index.html */

#index-light {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#fff9f3, white);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

@media (prefers-color-scheme: dark) {
    #index-light {
        background-image: linear-gradient(#363534, black) !important;
    }

    .index-good {
        border-color: white !important;
    }

    .index-button::after {
        background-color: hsl(0, 0%, 22%) !important;
    }

    .index-button {
        background-color: hsl(0, 0%, 18%) !important;
    }
}

.index-canvas {
    margin-top: 100px;
}

#index-canvas-1 a {
    text-decoration: none;
}

.index-canvas #text-n {
    font-size: 18px;
}

.index-good {
    width: fit-content;
    display: inline-block;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.2s;
}

.index-good #text-n {
    transition: all 0.2s;
}

.index-good:hover {
    background-color: black;
}

.index-good:hover #text-n {
    color: white !important;
}

#index-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 430px) {
    #index-col {
        display: unset;
    }
}

.index-button {
    appearance: button;
    background-color: hsl(30, 100%, 78%);
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 6px 12px;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: fit-content;
    margin-bottom: 5px;
}

.index-button:after {
    background-clip: padding-box;
    background-color: hsl(30, 100%, 88%);
    border: solid transparent;
    border-radius: 12px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.index-button,
.index-button:focus {
    user-select: auto;
}

.index-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.index-button:disabled {
    cursor: auto;
}

.index-button:active {
    border-width: 4px 0 0;
    background: none;
}

.index-button svg {
    font-size: 0.7em;
}

#index-canvas-2 {
    width: calc(100vw - 16px);
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/IMG_1015.webp);
    background-size: cover;
    background-position: center bottom;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#link-wrapper a:nth-child(2) {
    font-weight: bold;
}