{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

<style>
    body {
        margin-left: 0;
        margin-top: 0;
    }
</style>

<div class="content-unit">
    <div id="index-light"></div>

    <div class="index-canvas" id="index-canvas-3">
        <h2 class="index-title">The Archive</h2>
        <p class="text-n">
            While this site is no longer regularly updated, many of its pages might be fun to read and helpful. (And, of
            course, took days to build.) Notable examples include:
        </p>
        <ul class="index-page-list">
            <li class="index-page-list-link">
                <b>About.</b> Talking through HTML & CSS.
                <a href="../../pages/about.html">
                    <span class="material-symbols-outlined">arrow_forward</span>
                </a>
            </li>
            <li class="index-page-list-link">
                <b>9:41.</b> A now out-of-date documentation of Apple's events and products. Plus, my answer to the
                question, "Should you buy an iPhone 16?"
                <a href="../../pages/apple.html">
                    <span class="material-symbols-outlined">arrow_forward</span>
                </a>
            </li>
            <li class="index-page-list-link">
                <b>Classical Chinese texts.</b> Pages documenting excerpts of required readings for the junior high and
                high school students in China.
                <a href="../../pages/classical_ch.html">
                    <span class="material-symbols-outlined">arrow_forward</span>
                </a>
            </li>
            <li class="index-page-list-link">
                <b><i>Friends</i>.</b> My attempt at commemorating the late Matthew Perry.
                <a href="../../pages/friends.html">
                    <span class="material-symbols-outlined">arrow_forward</span>
                </a>
            </li>
            <li class="index-page-list-link">
                <b>Music.</b> Lyric books and artists' works.
                <a href="../../pages/music.html">
                    <span class="material-symbols-outlined">arrow_forward</span>
                </a>
            </li>
            <li class="index-page-list-link">
                <b>Taylor Swift.</b> A page on the singer-songwriter's recent works and updates.
                <a href="../../pages/taylorswift.html">
                    <span class="material-symbols-outlined">arrow_forward</span>
                </a>
            </li>
        </ul>
        <p class="text-n">
            For more about myself, check out my
        </p>
        <a href="https://jerryly.cn">
            <button class="index-button">
                <span class="text-n">
                    New site <span class="material-symbols-outlined">open_in_new</span>
                </span>
            </button>
        </a>
    </div>
    <p class="text-n">
        <a id="index-developer-button" href="../../pages/develop.html">
            <span class="material-symbols-outlined">terminal_2</span>Outils de développement
        </a>
    </p>
    <div class="empty-box"></div>
    <!-- <div class="index-canvas" id="index-canvas-2">
    <p class="text-n">hey it's jerry &semi;-&#41;</p>
</div>

<div class="index-canvas" id="index-canvas-1">
    <p class="text-n">
        Hi, I'm Jerry. As in Tom & Jerry. Welcome to my website. Wanna cut to the chase? <a
            href="https://github.com/jerrylovescheese/jerrylovescheese/blob/19f9a9e2dcf50fec50d5e29ac48a69a67493cf5f/CV.pdf">Here's
            my CV.</a>
    </p>
    <a href="https://blog.jerryly.top">
        <button class="index-button">
            <span class="text-n">
                My blog subdomain&ensp;
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path
                        d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z" />
                </svg>
            </span>
        </button>
    </a>
    <a href="https://live.jerryly.top">
        <button class="index-button">
            <span class="text-n">
                Live & activities&ensp;
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path
                        d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z" />
                </svg>
            </span>
        </button>
    </a>
    <p id="heading"><b>Can technology be more humanistic?<br>I think it can.</b></p>
    <p class="text-n">So for years, I've been trying to find how.</p>
    <p class="text-n"><b>2018</b><br>Inspired by WWDC, started the exploration of user
        interfaces<br>Started using GitHub</p>
    <p class="text-n"><b>2019</b><br>Founded my studio, aluminum studio<br>The era of bringing
        artistic ideas to life begins: starting with tools like Ps and Pr</p>
    <p class="text-n"><b>2022</b><br>First website project - <a href="https://2022.igem.wiki/shsbnu-china/">iGEM wiki</a> -
        sparked my interest in front-end development<br>Self-taught HTML & CSS<br>AP CSA incentivized the learning of
        Java<br>Started making my own website - this website, jerryly.top</p>
    <p class="text-n"><b>2023</b><br>Started a static blog <a href="https://blog.jerryly.top">blog.jerryly.top</a> that
        marked my first time experimenting with Jekyll</p>
    <p class="text-n"><b>2024</b><br>Integrated Python scripts into website projects for the first
        time - transforming static to dynamic<br>Learning JavaScript<br>Took CS 2100 Data Structures &
        Algorithms 1</p>
    <div id="index-col">
        <div>
            <p class="subtitle">Things I've learned</p>
            <div class="index-good">
                <span class="text-n">HTML/CSS and other front-end design stuff</span>
            </div>
            <div class="index-good">
                <span class="text-n">Java</span>
            </div>
            <div class="index-good">
                <span class="text-n">Python</span>
            </div>
            <div class="index-good">
                <span class="text-n">C</span>
            </div>
        </div>
        <div>
            <p class="subtitle">Things I'm still learning</p>
            <div class="index-good">
                <span class="text-n">Backend fundamentals</span>
            </div>
            <div class="index-good">
                <span class="text-n">JavaScript</span>
            </div>
            <div class="index-good">
                <span class="text-n">Font design</span>
            </div>
            <div class="index-good">
                <span class="text-n">Transition from static to dynamic sites</span>
            </div>
            <div class="index-good">
                <span class="text-n">French</span>
            </div>
        </div>
        <div>
            <p class="subtitle">Things I love</p>
            <div class="index-good">
                <span class="text-n">Websites! &semi;-&#41;</span>
            </div>
            <div class="index-good">
                <span class="text-n">User Interfaces (UI)/User Experiences (UX) designs</span>
            </div>
            <div class="index-good">
                <span class="text-n">Fonts & typesetting</span>
            </div>
            <a href="../../pages/music.html">
                <span class="index-good">
                    <span class="text-n">Music</span>
                </span>
            </a>
        </div>
    </div>
</div> -->
</div>

{% endblock %}